:root {
    --primary-color: #2196f3;
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto';
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

/* HEADER */

.header-wrapper > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > .container > nav {
    display: flex;
    align-items: center;
}

.header-wrapper > .container > nav > .menu {
    display: flex;
    gap: 46px;
}

.header-wrapper > .container > aside > .navigation-contact {
    display: flex;
    gap: 50px;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 93px;
    padding: 24px 0 25px;
}

.black-studio {
    color: #000;
}

.white-studio {
    color: #fff;
}

.menu {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.nav-contact-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-contact-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu a {
    color: #212121;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: #2196f3;
}

.navigation-contact {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}

.navigation-contact a {
    text-decoration: none;
    color: #757575;
}

.navigation-contact a:hover {
    color: #2196f3;
}

/* Slider */

.dark-bg {
    background: #2f303a;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    margin: 106px 252px 30px;
    letter-spacing: 0.06em;
}

.slider button {
    padding: 10px 42px 10px 41px;
    margin-bottom: 106px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Articles */

.articles {
    display: flex;
    gap: 30px;
}

.articles h3 {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
    text-transform: uppercase;
}

.articles p {
    font-size: 14px;
    color: #757575;
}

/* Section - What We Do */

.what-we-do {
    font-family: 'Roboto';
    font-style: normal;
}

.what-we-do-list {
    list-style: none;
}

.what-we-do h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #212121;
}

/* Section - Out team */

.our-team-section-bg {
    background: #f5f4fa;
}

.our-team-section {
    font-family: 'Roboto';
    font-style: normal;
}

.our-team-section h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #212121;
}

.our-team-section-figure {
    background: #ffffff;
}

.our-team-section-list {
    list-style: none;
    font-size: 16px;
}

.our-team-section-name {
    color: #212121;
}

.our-team-section-postion {
    color: #757575;
}

/* Section - Portfolio menu */

.portfolio-menu {
    list-style: none;
}

.button-portfolio {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #f5f4fa;
    box-shadow: none;
    transition-duration: 0.4s;
}

.button-portfolio:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu a {
    text-decoration: none;
}

/* Section - Portfolio */

.portfolio {
}

.portfolio-list {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.03em;
    list-style: none;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    color: #212121;
}

.potfolio-subname {
    font-size: 16px;
    color: #757575;
}

/* Footer */

.footer {
}

.footer a {
    text-decoration: none;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-adress {
    font-weight: bold;
    color: #ffffff;
}

.footer-adress a {
    text-decoration: none;
    color: #ffffff;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover {
    color: #2196f3;
}
